html,
body {
  font-size: 3vw !important;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 100vh;
  background: linear-gradient(0deg, rgba(0,74,173,1) 0%, rgb(13, 99, 228) 0%, rgba(255,255,255,1) 28%, rgba(244,246,249,1) 65%);
}
#__next{
  min-height: 100vh !important;
}


/*------------------------------------*/

.main-container{
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

@keyframes breath-logo-anim{
  0%{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50%{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  100%{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.image-container {
  width: 100%;
  animation-name: breath-logo-anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  text-align: center;
}

.image-container .image {
  transition: 1s ease;
  object-fit: contain;
  width: 80% !important;
  position: relative !important;
  height: unset !important;
}
.image-container .image:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.main-container-catalog{
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


.main-btn-container{
  text-align: center;
}
.main-btn-container p{
  color: white;
  font-weight: bold;
}