html,
body {
  font-size: 3vw !important;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 99.4%;
  /* background-image: url('../src/assets/img/wave.svg'); */
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='500' height='200' preserveAspectRatio='none' viewBox='0 0 500 200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1203%26quot%3b)' fill='none'%3e%3crect width='500' height='200' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c55 C 50%2c68.2 150%2c112.8 250%2c121 C 350%2c129.2 450%2c101 500%2c96L500 200L0 200z' fill='rgba(0%2c 11%2c 118%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1203'%3e%3crect width='500' height='200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
#__next{
  min-height: 99.4% !important;
}

a{
  color: black;
}

/*------------------------------------*/

.main-container{
  height: 90vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

@keyframes breath-logo-anim{
  0%{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50%{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  100%{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.image-container {
  width: 100%;
  animation-name: breath-logo-anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  text-align: center;
}

.image-container .image {
  transition: 1s ease;
  object-fit: contain;
  width: 80% !important;
  position: relative !important;
  height: unset !important;
}
.image-container .image:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.main-container-catalog{
  height: 90vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer-container{
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.footer-container p{
  font-weight: bold;
  color: white;
}
.footer-container div {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 2px;
}

.main-btn-container{
  text-align: center;
}
.main-btn-container p{
  color: rgb(0, 0, 0);
  font-weight: bold;
}

/*datatable*/
.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-datatable-tbody tr{
  border-bottom: solid;
  border-bottom-width: thin;
}

.p-datatable-thead span{
  font-weight: bold;
  color: #000b76;
}